  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width: 100%;
    padding: 100px;
  }

  .one {
    background: thistle;
  }

  .two {
    background: mistyrose;
  }

  .three {
    background: coral;
  }
  .home {
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    }
    